*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary: rgb(134, 74, 249);
  --primary-paragraph: #462782;
  --secondary: rgb(250, 241, 75);
  --secondary-paragraph: #807a2b;
  --white: #f9f6ff;
  --black: #07040c;
  --paragraph: #edeaf3;
}

body {
  background-color: var(--white);
  overflow-x: hidden;
}

.indent {
  margin-left: 16px;
  margin-bottom: 8px;
}

.card {
  max-width: 428px;
  border-radius: 16px;
  box-shadow: 0px 0px 24px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  background-image: linear-gradient(130deg, hsl(260, 54%, 33%) 0%, hsl(260, 54%, 41%) 27%, hsl(261, 54%, 48%) 71%, hsl(261, 68%, 56%) 92%, hsl(261, 94%, 63%) 100%);
  padding: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.card .card--image {
  height: 100%;
  width: 100%;
}
.card .card--image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}
.card .card--information {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.card .card--information .card--information--title h1 {
  color: var(--white);
}
.card .card--information .card--information--title h6 {
  color: var(--white);
  font-size: 75%;
}
.card .card--information .card--information--details {
  color: var(--paragraph);
  text-align: justify;
  margin-top: 4px;
}
.card .card--information .card--information--details p {
  -webkit-line-clamp: 6;
  overflow: hidden;
  display: -webkit-box;
}
.card .card--information .card--information--details .card--information--details--default--size {
  -webkit-box-orient: vertical;
}
.card .card--information .card--information--details .card--information--details--full--size {
  -webkit-box-orient: none;
}
.card .card--information .card--information--details a {
  color: var(--white);
  font-weight: bold;
  text-decoration: underline;
  margin-left: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.card .card--information .card--information--details a:hover {
  color: var(--secondary);
}
.card .card--information .card--information--specialties ul {
  display: flex;
  color: var(--secondary);
  list-style: none;
  gap: 4px;
  font-weight: bold;
  text-align: left;
  filter: opacity(85%);
  margin-top: 32px;
}
.card .card--information .card--information--specialties ul li:after {
  content: "-";
  padding-left: 4px;
}

.hero {
  background: linear-gradient(rgba(134, 72, 249, 0.75) 85%, rgba(134, 72, 249, 0.75)), url("./assets/images/hero-background.jpeg") no-repeat center center/cover;
  width: 100vw;
  position: relative;
  overflow: hidden;
}
.hero .hero--content {
  max-width: 768px;
  margin-bottom: 248px;
}
.hero .hero--content .hero--content--text {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 75%;
  flex-direction: column;
  padding: 32px;
}
.hero .hero--content .hero--content--text img {
  height: 128px;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 16px;
}
.hero .hero--content .hero--content--text h1 {
  color: var(--white);
  font-family: "Lato", sans-serif;
  font-size: 5rem;
  line-height: 72px;
}
.hero .hero--content .hero--content--text p {
  color: var(--secondary);
  font-size: 2rem;
  font-weight: bold;
}
.hero .hero--content .hero--content--text button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 16px;
  border: 2px solid var(--secondary);
  background-color: var(--secondary);
  border-radius: 4px;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--black);
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  margin-top: 16px;
}
.hero .hero--content .hero--content--text button:hover {
  background: none;
  border: 2px solid var(--white);
  color: var(--secondary);
}
.hero .hero--bottom--transition {
  position: absolute;
  bottom: 0;
  width: 275%;
  height: 25vh;
}

.programs {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  padding: 32px;
  margin-top: 32px;
}
.programs .programs--video {
  width: 100%;
}
.programs .programs--video iframe {
  border-radius: 8px;
  width: 100%;
}
.programs .programs--header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.programs .programs--header p {
  font-size: 1.5rem;
}
.programs .programs--header .programs--header--underline {
  height: 2px;
  width: 64px;
  background-color: var(--secondary);
}
.programs .programs--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 64px;
}

.location {
  background-color: var(--primary);
}
.location .location--content {
  height: 75vh;
  width: 100%;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.location .location--content iframe {
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;
  border-radius: 48px;
}
.location .location--content .location--content--description {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 75%;
  text-align: center;
}
.location .location--content .location--content--description h1 {
  color: var(--white);
}
.location .location--content .location--content--description p {
  color: var(--paragraph);
}

.footer {
  background-color: var(--black);
}
.footer .footer--information {
  padding: 32px;
}
.footer .footer--information .footer--contacts {
  color: var(--secondary);
  filter: opacity(75%);
}
.footer .footer--information .footer--contacts .divider {
  height: 1px;
  width: 75%;
  background-color: var(--secondary);
  margin: 16px 0;
}
.footer .footer--information .footer--programs {
  color: var(--secondary);
  filter: opacity(75%);
}
.footer .footer--information .footer--programs ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 8px;
  list-style: none;
}
.footer .footer--information .footer--programs a {
  color: var(--secondary);
  text-decoration: none;
}
.footer .footer--information .footer--programs a:hover {
  color: var(--secondary-paragraph);
}
.footer .footer--information .footer--programs .divider {
  height: 1px;
  width: 75%;
  background-color: var(--secondary);
  margin: 16px 0;
}
.footer .footer--information .footer--developer {
  color: var(--paragraph);
  float: right;
  filter: opacity(25%);
}/*# sourceMappingURL=styles.css.map */